

<div class="custom-font span6 offset3 text-center boxy">

<h2 class = "cool_font_small">
<h2>Upload Your Stuff</h2>

<%= simple_form_for @pic do |f| %>
	<%= f.input	:hour, label: 'Which Hour', placeholder: 'Enter the Hour'	%>
	<%= f.input :image, :as => :file %>
	<%= f.input	:emotion, label:  'How did you feel?', placeholder:  'Happy, Thrilled, Awesome, Swell' %>
	<%= f.input	:learned, label:  'What did you learn?', placeholder:  'HTML5, CSS3, Rails, Ruby, Console, Terminal, Heroku, Github, Postgres', :input_html => {rows: '3'} %>

<%= submit_tag 'Submit', :class => 'btn btn-warning btn-large' %>
<% end %>
</div>